DATABASE_URL="postgresql://postgres:postgres@db:5432/credenciamento?schema=public"
PORT=3001
JWT_SECRET="troque-esta-chave-em-producao"
JWT_EXPIRES_IN="8h"
CORS_ORIGINS="http://localhost:5173"
ADMIN_EMAIL="admin@evento.com"
ADMIN_PASSWORD="Admin@123"
MASTER_EMAIL="master@evento.com"
MASTER_PASSWORD="Master@123"
GATE_EMAIL="gate@evento.com"
GATE_PASSWORD="Gate@123"
LEITOR_EMAIL="leitor@evento.com"
LEITOR_PASSWORD="Leitor@123"
GATE_START_HOUR=0
GATE_END_HOUR=23
